<% 
	$path = '../';
	$imgPath = '../../img/';
	$active = 'contact';
	include( $path + '_include/_function.ejs' );
	$meta.title = 'お問い合わせ |滋賀医科大学 整形外科学講座';
	$meta.description = '滋賀医科大整形外科学講座が行っている研修プログラムや当講座ならではの特徴などを紹介します。';

	$scripts = [ $path + 'page.js'];
%>
<!DOCTYPE html>
<html>
<head>
	<%- include( $path + '_include/head.ejs' ); %>
</head>
	<body class="contact">
		<%- include( $path + '_include/header.ejs' ); %>
		<main class="mainContent">
			<!-- ***** mainvisual -->
			<section class="visual js-effect">
				<div class="visual__textArea">
					<div class="wrap">
						<header class="visual__index">
							<span class="en">
								<span>C</span>
								<span>O</span>
								<span>N</span>
								<span>T</span>
								<span>A</span>
								<span>C</span>
								<span>T</span>
							</span>
							<h1 class="ja">お問い合わせ</h1>
							
						</header>
						<ul class="breadCrumb">
							<li><a href="<%-$path %>index.html">TOP</a></li>
							<li>お問い合わせ</li>
						</ul>
					</div>

				</div>				
			</section>
			<!-- ///// mainvisual -->

			<!-- ***** contents -->
			<section class="articleContent">	
				<div class="wrap">
					<section class="formArea">
						<header class="formArea__heading">
							<h2 class="formArea__index">
								フォームからのお問い合わせ
							</h2>
							<p class="formArea__description">24時間受け付けております。下記のフォームに必要事項をご入力してください。<br>
							※一般の方からの医療相談はお受けしておりません。ご了承ください。</p>
						</header>
						<!-- *** form -->
						<div action="" class="form">
							<ul class="formArea__steps">
								<li class="formArea__steps__step step1">
									入力<span class="en">INPUT</span>
								</li>
								<li class="formArea__steps__step step2">
									確認<span class="en">CHECK</span>
								</li>
								<li class="formArea__steps__step step3">
									完了<span class="en">DONE</span>
								</li>
							</ul>
							<div class="formArea__icon">
								<ul>
									<li class="icon--must">必須入力項目</li>
								</ul>
							</div>
							<table>
								<tr class="form__row  -must">
									<th class="form__row__column">
										お名前
									</th>
									<td>
										<input type="text" placeholder="プレースホルダー">
									</td>
								</tr>
								<tr class="form__row  -must">
									<th class="form__row__column">
										ふりがな
									</th>
									<td>
										<input type="text" placeholder="プレースホルダー">
									</td>
								</tr>	
								<tr class="form__row  -must">
									<th class="form__row__column">
										メールアドレス
									</th>
									<td>
										<input type="email" placeholder="プレースホルダー">
									</td>
								</tr>	
								<tr class="form__row  -must">
									<th class="form__row__column">
										電話番号
									</th>
									<td>
										<input type="tel" placeholder="プレースホルダー">
									</td>
								</tr>
								<tr class="form__row  -must">
									<th class="form__row__column">
										お問い合わせ内容
									</th>
									<td>
										<textarea name="" id="" cols="30" rows="10"></textarea>
									</td>
								</tr>																																
							</table>
							<div class="form__buttons">
								<div class="button button--submit -hasArrow">
									<input type="submit" class="input-confirm-submit" value="確認画面へ" >
								</div>
								<div class="button button--back -hasArrow">
									<input type="submit" class="input-back" value="入力し直す" >
								</div>								
							</div>
						</div>		
						<!-- //// form -->				
						<aside class="contactTel">
							<header >
								<h3 class="contactTel__index">お電話でのお問い合わせ</h3>
							</header>
							<div class="contactTel__content">
								お電話の場合は<a class="telnum" href="">077-548-2252（医局）</a>、もしくは<a class="telnum" href="">077-548-2562（外来）</a>までご連絡ください。
							</div>
						</aside>
					</section>
				</div>
			</section>
			<!-- ///// contents -->
			
		</main>
		<%- include( $path + '_include/footer.ejs' ); %>
	</body>
</html>