<% 
	$path = '../';
	$imgPath = '../../img/';
	$active = 'topics';
	include( $path + '_include/_function.ejs' );
	$meta.title = '関連リンク |滋賀医科大学 整形外科学講座';
	$meta.description = '滋賀医科大整形外科学講座に関連している学会、病院、クリニックなどの紹介ページです。';
	// $scripts = [ $path + 'page.js'];
%>
<!DOCTYPE html>
<html>
<head>
	<%- include( $path + '_include/head.ejs' ); %>
</head>
	<body class="page page-links">
		<%- include( $path + '_include/header.ejs' ); %>
		<main class="mainContent">
			<!-- ***** mainvisual -->
			<section class="visual js-effect">
				<div class="visual__textArea">
					<div class="wrap">
						<header class="visual__index">
							<span class="en">
								<span>L</span>
								<span>I</span>
								<span>N</span>
								<span>K</span>
								<span>S</span>
							</span>
							<h1 class="ja">関連リンク</h1>
							
						</header>
						<p class="visual__description">当局と関連のある各会のリンクをまとめています。</p>
						<ul class="breadCrumb">
							<li><a href="<%-$path %>index.html">TOP</a></li>
							<li>関連リンク</li>
						</ul>
					</div>

				</div>				
			</section>
			<!-- ///// mainvisual -->

			<!-- ***** contents -->
			<article class="articleContent">	
				<div class="wrap">
					<ul class="linkList -hasArrow">
						<li><a href="" target="_blank">日本整形外科学会</a></li>
						<li><a href="" target="_blank">日本手外科学会</a></li>
						<li><a href="" target="_blank">中部日本整形外科災害外科学会</a></li>
						<li><a href="" target="_blank">日本足の外科学会</a></li>
						<li><a href="" target="_blank">日本人工関節学会</a></li>
						<li><a href="" target="_blank">日本脊椎脊髄病学会</a></li>
						<li><a href="" target="_blank">日本関節鏡・膝・スポーツ整形外科学会</a></li>
						<li><a href="" target="_blank">日本骨折治療学会</a></li>
						<li><a href="" target="_blank">日本肩関節学会</a></li>
						<li><a href="" target="_blank">滋賀県医師会</a></li>
						<li><a href="" target="_blank">日本股関節学会</a></li>
						<li><a href="" target="_blank">日本医師会</a></li>
					</ul>

				</div>
			</article>
			<!-- ///// contents -->
			
		</main>
		<%- include( $path + '_include/footer.ejs' ); %>
	</body>
</html>