<% 
	include( '_include/_function.ejs' );
	$path = './';
	$scripts = [ $path + 'top.js'];
	$active = 'top';
%>
<!DOCTYPE html>
<html>
<head>
	<%- include( '_include/head.ejs' ); %>
</head>
<body class="home">
		<%- include( '_include/header.ejs' ); %>
		<main class="mainContent">
			<!-- ***** mainvisual -->
			<section class="mainvisual">
				<div class="wrap">
					<h2 class="mainvisual__copy">
						<span class="copyTop">総合的な運動器の<br>診療科を目指して</span>
						<span class="copyBottom">
							<span class="copyBottom__text">滋賀医科大学 整形外科講座</span>
						</span>
					</h2>
				</div>
				<div class="mainvisual__images">
					<figure class="slick-slide">
						<img src="../img/top/mv-1.jpg" srcset="/assets/img/top/sp/mv-1.jpg 750w, /assets/img/top/mv-1.jpg" alt="" >
					</figure>
					<figure class="slick-slide">
						<img src="../img/top/mv-2.jpg" srcset="/assets/img/top/sp/mv-2.jpg 750w, /assets/img/top/mv-2.jpg" alt="" >
					</figure>	
					<figure class="slick-slide">
						<img src="../img/top/mv-3.jpg" srcset="/assets/img/top/sp/mv-3.jpg 750w, /assets/img/top/mv-3.jpg" alt="" >
					</figure>										
				</div>
				<span class="mainvisual__num">
					<span>4</span>
					<span>0</span>
				</span>
			</section>
			<!-- ///// mainvisual -->
			<!-- ***** intro -->
			<section class="introduction">
				<div class="wrap">
					<header class="introduction__index">
						<i><img src="../img/top/logo-40th.svg" width="110" alt="40th"></i>
					</header>
					<div class="introduction__content">
						滋賀医科大学整形外科化学講座のホームページへようこそ。<br>
						このページでは整形外科化学講座の外科案内、活動内容、所属する医師の紹介などを掲載しています。<br>
						40年の歴史ある教室で、総合的な運動器を一緒に研究しましょう。

					</div>
				</div>
			</section>
			<!-- ///// intro -->
			<!-- ***** localnav -->	
			<section class="section-navPanel">
				<i class="section-navPanel__location"></i>
				<div class="wrap">
					<nav class="navPanel">
						<ul>
							<li class="navPanel__panel">
								<a href="<%- $path %>about/">
									<div class="panel-icon">
										<i><img src="../img/top/icon-about.svg" width="60" alt=""></i>
									</div>
									<h3 class="panel-index">
										教室のご紹介
									</h3>
									<div class="panel-content">
										滋賀医科大学整形外科教室教授 今井晋二によるご挨拶と、当教室の歴史についてご紹介します。										
									</div>
								</a>
							</li>
							<li class="navPanel__panel -notActive">
								<a href="">
									<div class="panel-icon">
										<i><img src="../img/top/icon-learn.svg" width="60" alt=""></i>
									</div>
									<h3 class="panel-index">
										現場を知る
									</h3>
									<div class="panel-content">
										滋賀医科大学整形外科教室の研究内容や留学先、医師の働き方についてご紹介します。
									</div>
								</a>
							</li>
							<li class="navPanel__panel -notActive">
								<a href="">
									<div class="panel-icon">
										<i><img src="../img/top/icon-points.svg" width="60" alt=""></i>
									</div>
									<h3 class="panel-index">
										特徴を知る
									</h3>
									<div class="panel-content">
										滋賀医科大学整形外科の専門医育成方針やその他の取得可能な資格、関連病院をご紹介します。			
									</div>
								</a>
							</li>														
						</ul>
					</nav>
				</div>
			</section>		
			<!-- ///// localnav -->	
			<!-- ***** topics -->
			<section class="section-topics">
				<div class="wrap">
					<div class="topicsTable">
						<header class="topicsTable__index">
							<h3>
								<span class="en">TOPICS</span>
								<span class="ja">お知らせ</span>
							</h3>
						</header>
						<div class="topicsTable__content">
							<ul class="topics">
								<li>
									<a href="">
										<span class="topics__date">
											2017.06.29
										</span>
										<h4 class="topics__index">
											aaaa
										</h4>
									</a>
								</li>
								<li>
									<a href="">
										<span class="topics__date">
											2017.06.29
										</span>
										<h4 class="topics__index">
											aaaa
										</h4>
									</a>
								</li>
								<li>
									<a href="">
										<span class="topics__date">
											2017.06.29
										</span>
										<h4 class="topics__index">
											aaaa
										</h4>
									</a>
								</li>
								<li>
									<a href="">
										<span class="topics__date">
											2017.06.29
										</span>
										<h4 class="topics__index">
											aaaa
										</h4>
									</a>
								</li>
							</ul>
							<p class="topics-more -hasArrow">
								<a href="" class="link">過去のお知らせはこちら</a>
							</p>
						</div>
					</div>
				</div>
			</section>
			<!-- ///// topics -->
		</main>
		<%- include( '_include/footer.ejs' ); %>
</body>
</html>