//////////////////////////////////////////

//アニメーション

//include by style.scss

//////////////////////////////////////////

@-webkit-keyframes mouseScroll {
	0% { 
		transform: translateY(0px);
	 }
	 70%{
	 	opacity: 1;
	 }
	100% {  
		transform: translateY(5px);
		opacity: 0;
	}
}
@-o-keyframes mouseScroll {
	0% { 
		transform: translateY(0px);
	 }
	 70%{
	 	opacity: 1;
	 }
	100% {  
		transform: translateY(5px);
		opacity: 0;
	}
}
@-moz-keyframes mouseScroll {
	0% { 
		transform: translateY(0px);
	 }
	 70%{
	 	opacity: 1;
	 }
	100% {  
		transform: translateY(5px);
		opacity: 0;
	}
}
@keyframes mouseScroll {
	0% { 
		transform: translateY(0px);
	 }
	 70%{
	 	opacity: 1;
	 }
	100% {  
		transform: translateY(5px);
		opacity: 0;
	}
}


@keyframes dot-3-move {
  20% {transform: scale(1)}
  45% {transform: translateY(-18px) scale(.45)}
  60% {transform: translateY(-90px) scale(.45)}
  80% {transform: translateY(-90px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

@keyframes dot-2-move {
  20% {transform: scale(1)}
  45% {transform: translate(-16px, 12px) scale(.45)}
  60% {transform: translate(-80px, 60px) scale(.45)}
  80% {transform: translate(-80px, 60px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

@keyframes dot-1-move {
  20% {transform: scale(1)}
  45% {transform: translate(16px, 12px) scale(.45)}
  60% {transform: translate(80px, 60px) scale(.45)}
  80% {transform: translate(80px, 60px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

@keyframes rotate-move {
  55% {transform: rotate(0deg)}
  80% {transform: rotate(360deg)}
  100% {transform: rotate(360deg)}
}

@-webkit-keyframes loadRotate {
	from {  transform: rotate(0);}
	to {  transform: rotate(360deg);}
}
@-o-keyframes loadRotate {
	from {  transform: rotate(0);}
	to {  transform: rotate(360deg);}
}
@-moz-keyframes loadRotate {
	from {  transform: rotate(0);}
	to {  transform: rotate(360deg);}
}
@keyframes loadRotate {
	from {  transform: rotate(0);}
	to {  transform: rotate(360deg);}
}

