@charset "UTF-8";
//////////////////////////////////////////

//color setting

//include by style.scss

//////////////////////////////////////////


////base settings
$basefontColor : #3a3a3a;
$link: #12aaaf;



////project settings
$gray: #fcfcfc;

$red : #9a0000;
$blue : #00d8fd;
$green: #0eff9e;
$green_deep: #005f70;
$green_dark: #24383f;
$green_black: #003640;


$instagram: #3f729b;
$twitter: #55acee;
$facebook: #3b5998;
$hatena: #008fed;
