@charset "UTF-8";
//////////////////////////////////////////

//color setting

//include by style.scss

//////////////////////////////////////////

////project settings
$gray: #fcfcfc;

$blue : #4ddeff;
$blue_dull: #00a4c4;

$navy: #0f2a8c;

$orange: #e6682e;


$instagram: #3f729b;
$twitter: #55acee;
$facebook: #3b5998;
$hatena: #008fed;

////base settings
$basefontColor : #3a3a3a;
$link: $navy;



