@charset "utf-8";//////////////////////////////////////////

//font setting

//include by style.scss

//////////////////////////////////////////

@import url("https://fonts.googleapis.com/earlyaccess/notosansjapanese.css");

// 【明朝】　font-family:Times New Roman , "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", Hiragino Mincho ProN , "MSP明朝","MS PMincho","MS 明朝",serif;
// 【ゴシック】　font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;