//////////////////////////////////////////

//module

//include by style.scss

//////////////////////////////////////////



////////////////////

// frame

////////////////////

.frame{
	&:after,
	&:before{
		content: " ";
		display: block;
		position: fixed;
		z-index: 10;
		background-color: $blue_dull;
	}

	//縦
	&--v{
		&:before,
		&:after{
			width: 10px;
			height: 100%;
			@include break( tab ){
				width: 5px;
			} 			
		}

		&:before{
			top: 0;
			right: 0;
		}
		&:after{
			bottom: 0;
			left: 0;
		}
	}	

	//横
	&--h{
		&:before,
		&:after{
			width: 100%;
			height: 10px;
			@include break( tab ){
				height: 5px;
			} 			
		}

		&:before{
			top: 0;
			left: 0;
		}
		&:after{
			bottom: 0;
			right: 0;
		}
	}
}


////////////////////

// header

////////////////////

/////// ヘッダー ラッパー
.siteHeader
{
	width: 100%;
	position: fixed;
	z-index: 9;
	top: 0;
	right: 0;
	left: 0;
	background-color: #fff;
	@include break( tab ){
		width: auto;
		position: static;
		background-color: transparent;
	} 	

	&__logo{
		width: 120px;
		height: 120px;
		margin-top: auto;
		margin-right: auto;
		margin-bottom: auto;
		margin-left: auto;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
			@include break( tab ){
				width: 100%;
				height: auto;
				padding-top: 10px;
				padding-bottom: 10px;
				text-align: center;
				position: fixed;
				z-index: 9;
				top: 0;
				right: 0;
				left: 0;
				
				img{
					max-width: 40px;
				}
			} 		
	}

	&__nav{
		height: 150px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		
			@include break( tab ){
				height: 100%;
				justify-content: center;
				flex-direction: column;
				text-align: center;
			}		
		
		li{
			margin-right: 50px;
			
			@include break( tab ){
				margin-right: 0;
			}			
			
			&:last-child{
				margin-right: 0;
			}
		}

		.button{
			width: 200px;
		}
		
		a{
			color: inherit;
		}
	}
	
	//////// media queries 
	@include break( sp ){
		padding-top: 0;
		position: static;
		
		 > .wrap{
			display: block;
			.siteHeader_logo,
			.siteHeader_nav	{
				display: block;
			}
		}
		&_logo{
			position: fixed;
			z-index: 10;
			top: 20px;
			
			text-shadow: 0 0 5px rgba( #000, 0.15 );
			.handWrite{
				top: 0.8em;
			}
		}

	} //max 580	
}



////////////////////

// navigation

////////////////////

.siteHeader_nav
{

	
}

.nav {
	font-size: 0.9375em;
	li{
		display: inline-block;
		vertical-align: middle;
			@include break( tab ){
				display: block;
			}		
	}

	.-notActive{
		opacity: 0.3;
		pointer-events: none;
	}
}


////( スマホ用 )開閉アイコン
.navToggle
{
	display: none;

	@include break( sp ){
		display: block;
	$buttonSize : 50px;
	$buttonTextColor: #fff;
	
	&_hitArea,
	&:after{
		width: $buttonSize;
		height: $buttonSize;
		line-height: 1;
		padding: 5px;
		box-sizing: border-box;
		display: block;
		position: fixed;
		bottom: 2%;
		right: 2%;
		cursor: pointer;
	}

	&_hitArea{
		z-index: 100;
	}

	&:after{
		content: " ";
		// will-change: width, height, border-radius;
		z-index: 8;
		transition:all 0.3s linear 0s;
		border-radius: 100%;
		box-shadow: 0 4px 4px rgba( #000, 0.1), 0 0 10px rgba( #000, 0.3 );
		background-color: darken( $blue, 35 );		
	}
	
	
	//icon
	&_icon
	{

		height: 20px;
		top: 0;
		bottom: 0;
		
		//bar
		&,
		&:before , 
		&:after, 		
		&_lineCenter{
			width: 70%;
			line-height: 0;
			margin: auto;
			display: block;
			position: absolute;
			right: 0;
			left: 0;			
		}

		&:before , 
		&:after, 		
		&_lineCenter{
			height: 1px;
			background-color: $buttonTextColor;		
			transition: easeInOutCirc(0.3s);		
		}		
		
		&:before , 
		&:after{
			content: " "; 
			transform-origin: -1px;
		}
		//top
		&:before{
			top: 0;
		} 
		//center
		&_lineCenter{
			top: 0;
			bottom: 0;
		}
		//bottom
		&:after{
			bottom: 0;
		}		
	}

	/////// navigation open (clicked
	@at-root .navOpen
	{
		overflow: hidden;
	
		.navToggle
		{
			&_hitArea{
				z-index: 11;
			}

			&:after{
				width: 100%;
				height: 100%;
				right: 0;
				bottom: 0;
				border-radius: 0;
				box-shadow: none;
				// @include background-image( linear-gradient( to right, $green, $blue ) );	
				background-color: darken( $blue, 20 );		
			}
			
			
			//icon
			&_icon
			{
				
				//bar
				//top
				&:before{
					transform: rotate( 45deg );
				} 
				//center
				&_lineCenter{
					width: 200%;
					opacity: 0;
				}
				//bottom
				&:after{
					transform: rotate( -45deg );
				}		
			}
		}	

	}		
	} // min 580
}



////////////////////

// main content

////////////////////

.mainContent{
	padding-top: 150px;
}



////////////////////

// footer

////////////////////

.siteFooter
{
	margin-top: 100px;
	
	.nav{
	    display: flex;
	    flex-direction: row;
	    align-items: center;
	    justify-content: space-between;
	}			
	
	li{
		display: block;
	}

	li a{
		display: block;
	}	
	
	///////// バナー
	&__banners{
			padding-top: 80px;
			padding-right: 30px;
			padding-bottom: 80px;
			padding-left: 30px;
			background-color: #f2fdff;
			
			.banners{
				overflow: hidden;
			}
			
			li{
				padding-right: 30px;
				padding-left: 30px;
				float: left;
				display: block;
			}
	}

	//////// nav
	&__nav{
		padding-top: 45px;
		padding-bottom: 45px;
		background-color: $blue_dull;
		position: relative;
		
		.nav{
			padding-left: 30px;
			padding-right: 30px;
		}
		
		li a{
			color: #fff;
		}

		.button--inquiry{
			width: 200px;
		}
	}

	//////// page top
	.pagetop{
		width: 60px;
		height: 60px;
		display: block;
		position: absolute;
		right: 50px;
		bottom: -30px;
		transition: transition();
		border-radius: 50px;
		background-color: $navy;
		cursor: pointer;
		box-shadow: 0 0 10px rgba( #000,0.3 );
		
		@include mouseOver(){
			box-shadow: none;
			background-color: darken( $navy, 2.5% );
		}
		
		&:before{
			content: " ";
			width: 37px;
			height: 20px;
			margin: auto;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			transform: rotate( -90deg );
			display: block;
			background: url(../img/common/icon-arrow-white.svg) center center no-repeat;
			background-size: 20px auto;
		}
	}


	////////クレジットとローカルナビ
	&__creditArea{
		padding-top: 40px;
		padding-bottom: 50px;
		font-size: $small;		
		background-color: #fff;
		

		.creditArea{
		    display: flex;
		    flex-direction: row;
		    align-items: center;
		    justify-content: space-between;
		}

		///// ←
		.areaLeft{
		    display: flex;
		    flex-direction: row;
		    align-items: center;
		    justify-content: space-between;	
		    
		    &__logo{
		    	width: 100px;
		    	margin-right: 40px;
		    }

		    &__address{

		    	p{
		    		margin-top: 0;
		    		margin-bottom: 10px;
		    	}

		    	.copyright{
		    		color: $gray;
		    		font-size: 10px;
		    	}
		    }		
		}

		/////→
		.areaRight{
			.nav li{
				margin-right: 20px;
			}
		}
	}

}




////////////////////

// link

////////////////////

.-hasArrow{
	a:after{
		content: " ";
		width: 16px;
		height: 8px;
		margin-left: 10px;
		display: inline-block;
		background: url(../img/common/icon-arrow-navy.svg) center center no-repeat;
	}
}



////////////////////

// button

////////////////////

.button
{
	display: inline-block;
	
	a{
		padding: 1em;
		display: block;
		position: relative;
		border-radius: 3px;
		text-align: center;
		color: #fff;	
		transition: transition();
		background-size: 100% auto;
		background-image: linear-gradient( to right, lighten($orange, 10%), $orange);	
		
		@include mouseOver(){
			background-size: 300% auto;
		}
	}

	&--inquiry{


		&.-hasArrow {
			@extend .-hasArrow;			
			a{
				&:after{
					margin-top: auto;
					margin-bottom: auto;
					position: absolute;
					top: 0;
					right: 5px;
					bottom: 0;
					display: block;
					background: url(../img/common/icon-arrow-white.svg) center center no-repeat;
				}
			}
		}

	}
}
