//////////////////////////////////////////

//module

//include by style.scss

//////////////////////////////////////////



////////////////////

// frame

////////////////////

.frame{
	&:after,
	&:before{
		content: " ";
		display: block;
		position: fixed;
		z-index: 10;
		background-color: $blue_dull;
	}

	//縦
	&--v{
		&:before,
		&:after{
			width: 10px;
			height: 100%;
			@include break( tab ){
				width: 5px;
			} 			
		}

		&:before{
			top: 0;
			right: 0;
		}
		&:after{
			bottom: 0;
			left: 0;
		}
	}	

	//横
	&--h{
		&:before,
		&:after{
			width: 100%;
			height: 10px;
			@include break( tab ){
				height: 5px;
			} 			
		}

		&:before{
			top: 0;
			left: 0;
		}
		&:after{
			bottom: 0;
			right: 0;
		}
	}
}


////////////////////

// header

////////////////////

/////// ヘッダー ラッパー
.siteHeader
{
	width: 100%;
	line-height: 1;
	position: fixed;
	z-index: 9;
	top: 0;
	right: 0;
	left: 0;
	background-color: #fff;
	@include break( tab ){
		width: auto;
		position: static;
		background-color: transparent;
	} 	

	&__logo{
		width: 100px;
		height: 100px;
		margin-top: auto;
		margin-right: auto;
		margin-bottom: auto;
		margin-left: auto;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transition: transition();
			@include break( tab ){
				width: 100%;
				height: $navHeightSp;
				padding-top: 10px;
				box-sizing: border-box;
				text-align: center;
				position: fixed;
				z-index: 9;
				top: 0;
				right: 0;
				bottom: auto;
				left: 0;
				background-color: #fff;
				
				img{
					max-width: 40px;
				}
			} 		
	}

	&__nav{
		height: $navHeight;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		transition: transition();
		
		
		@include break( tab ){
			height: 100%;
			justify-content: center;
			flex-direction: column;
			position: fixed;
			top: -100%;
			right: 0;
			left: 0;
			z-index: 8;
			opacity: 0;
			transform: scale( 0.925 );
			transition: transform 2s ease 0s,
						opacity 0.5s ease 0s;
			text-align: center;
			background-color: rgba( $blue_dull, 0.96);
		}		
		
		li{
			margin-right: 50px;
			
			@include break( tab ){
				margin-right: 0;
				margin-bottom: 5vh;
				color: #fff;
			}			
			
			&:last-child{
				margin-right: 0;
			}
		}

		ul{
			@include break( tab ){
				opacity: 0;
				transform: translate(5px 10px);
				transition: transition( all, 0.15s);
				
				@for $i from 1 through 8 {
					li:nth-child( #{$i} ){
						transition-delay: #{ $i * 0.1 }s;
					}
				}
			}								
		}

		ul:last-of-type li:last-child{
			@include break( tab ){
				margin-bottom: 0;
			}
		}

		.button{
			width: 200px;
		}
		
		a{
			color: inherit;
		}
	}
}

.navOpen .siteHeader
{
	&__nav{
		top: 0;
		transform: scale( 1 );
		opacity: 1;
		
		ul{
			opacity: 1;
			transform: translate(0,0);
		}				
	}
}

@include break( tab, min ){
	.siteHeader.-isScrolled{
		.siteHeader__logo{
			width: 70px;
			height: 70px;
		}
		.siteHeader__nav{
			height: 100px;
		}
	}	
}


////////////////////

// navigation

////////////////////

.siteHeader_nav
{

	
}

.nav {
	@include break( tab,min ){
		font-size: 0.9375em;
	}		
	li{
		display: inline-block;
		vertical-align: middle;
		@include break( tab ){
			display: block;
		}		
	}

	.-notActive{
		opacity: 0.3;
		pointer-events: none;
	}
}


////( スマホ用 )開閉アイコン
.navToggle
{
	display: none;

	@include break( tab ){
		line-height: $navHeightSp;
		height: $navHeightSp;
		position: fixed;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 9;
		display: block;
		text-align: center;
		color: #fff;
		background-color: $blue_dull;
		
		&,
		&__text:after,
		&__text:before{
			transition: easeInOutCirc( all, 0.45s );
			transition-delay: 0.15s;
		}

		&__text{
			width: 5em;
			// height: 1em;
			line-height: $navHeightSp;
			height: $navHeightSp;			
			display: inline-block;
			overflow: hidden;
			position: relative;
			letter-spacing: 0.25em;
			font-size: 1.25em;
			font-family: $fontFamily_bodoniSans_b;
		}

		&__text:before,
		&__text:after{
			width: 100%;
			position: absolute;
			right: 0;
			left: 0;
		}


		&__text:before{
			content: "MENU";
			top: 0%;
			bottom: 0;
			opacity: 1;
		}
		&__text:after{
			content: "CLOSE";
			top: 100%;
			bottom: 0;
			opacity: 0;
			transition-delay: 0s;
		}


	/////// navigation open (clicked
	@at-root .navOpen
	{
		overflow: hidden;
	
		.navToggle
		{
			background-color: $blue;
			&__text:before{
				top: -100%;
				bottom: 0%;
				opacity: 0;
			}			
			&__text:after{
				top: 0;
				opacity: 1;
			}

		}	

	}		
	} // min 580
}



////////////////////

// main content

////////////////////

.mainContent{
	padding-top: $navHeight;
	
	@include break( tab ){
		padding-top: $navHeightSp;		
	}
}



////////////////////

// footer

////////////////////

.siteFooter
{
	margin-top: 100px;
	
		
	@include break( tab ){
		margin-top: 60px;
	}		
	
	.nav{
	    display: flex;
	    flex-direction: row;
	    align-items: center;
	    justify-content: space-between;
	    
		@include break( tab ){
			flex-direction: column;
		}		    
	}			
	
	.nav li{
		display: block;
		@include break( tab ){
			&:not( :last-child ){
				margin-bottom: 15px;				
			}
		}			
	}

	.nav li a{
		display: block;
		@include break( tab ){
			&:after{
				content: " ";
				width: 16px;
				height: 8px;
				margin-left: 10px;
				display: inline-block;
				vertical-align: middle;
				background: url(../img/common/icon-arrow-white.svg) center center no-repeat;
			}				
		}			
	}	
	
	///////// バナー
	&__banners{
		padding-top: 80px;
		padding-right: 30px;
		padding-bottom: 80px;
		padding-left: 30px;
		background-color: #f2fdff;
			
		
		@include break( tab ){
			padding: 0;
			// padding-top: 25px;
			// padding-right: 0;
			// padding-bottom: 25px;
			// padding-left: 0;
		}

		.wrap{
			@include break( tab ){
				overflow-x: auto;				
				padding-right: 0;
				padding-left: 0;
			}				
		}				
			
		.banners{
			text-align: center;
			overflow: hidden;
	
			@include break( tab ){
				overflow: auto;
				padding: 25px 0;
				background-color: #f2fdff;
				display: flex;
				flex-wrap: nowrap;
				
				li{
					
					flex-shrink: 0;
				}
			}
		}
		
		li{
			padding-right: 20px;
			padding-left: 20px;
			// float: left;
			display: inline-block;
			// @include break( tab ){
			// 	padding-left: 20px;
			// 	padding-right: 20px;
			// }				
		}
	}

	//////// nav
	&__nav{
		padding-top: 45px;
		padding-bottom: 45px;
		background-color: $blue_dull;
		position: relative;
		
		@include break( tab ){
			padding-top: 40px;
			padding-bottom: 40px;
		}			
		
		.nav{
			padding-left: 30px;
			padding-right: 30px;
		}
		
		li a{
			color: #fff;
		}

		.button--inquiry{
			width: 200px;
		}
	}

	//////// page top
	.pagetop{
		width: 60px;
		height: 60px;
		display: block;
		position: absolute;
		right: 50px;
		bottom: -30px;
		transition: transition();
		border-radius: 50px;
		background-color: $navy;
		cursor: pointer;
		box-shadow: 0 0 10px rgba( #000,0.3 );
		
		@include break( tab ){
			width: 35px;
			height: 35px;
			right: 10px;
			bottom: -17px;
		}			
		
		@include mouseOver(){
			box-shadow: none;
			background-color: darken( $navy, 2.5% );
		}
		
		&:before{
			content: " ";
			width: 37px;
			height: 20px;
			margin: auto;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			transform: rotate( -90deg );
			display: block;
			background: url(../img/common/icon-arrow-white.svg) center center no-repeat;
			background-size: 20px auto;
			@include break( tab ){
				width: 15px;
				background-size: contain;
			}				
		}
	}


	////////クレジットとローカルナビ
	&__creditArea{
		padding-top: 40px;
		padding-bottom: 50px;
		font-size: $small;		
		background-color: #fff;
		
		@include break( tab ){
			padding-bottom: 90px;
		}			
		

		.creditArea{
		    display: flex;
		    flex-direction: row;
		    align-items: center;
		    justify-content: space-between;
		    
		    @include break( tab ){
		    	flex-direction: column-reverse;
		    }

		}

		///// ←
		.areaLeft{
		    display: flex;
		    flex-direction: row;
		    align-items: center;
		    justify-content: space-between;	
		    
			@include break( tab ){
				margin-top: 30px;
				flex-direction: column;
				text-align: center;
			}			    
		    
		    &__logo{
		    	width: 100px;
		    	margin-right: 40px;
		    	
				@include break( tab ){
					margin-right: 0;
				}			    	
		    }

		    &__address{

		    	p{
		    		margin-top: 0;
		    		margin-bottom: 10px;
					@include break( tab ){
						margin-bottom: 0;
					}			    		
		    	}

		    	.copyright{
		    		color: $gray;
		    		font-size: 10px;
		    		
					@include break( tab ){
						margin-top: 20px;
					}			    		
		    	}
		    }		
		}

		/////→
		.areaRight{
			.nav li{
				margin-right: 20px;
			}

			.nav li a:after{
				background-image: url(../img/common/icon-arrow-navy.svg);
				
			}
		}
	}

}




////////////////////

// link

////////////////////

.-hasArrow{
	a:after{
		content: " ";
		width: 16px;
		height: 8px;
		margin-left: 10px;
		display: inline-block;
		background: url(../img/common/icon-arrow-navy.svg) center center no-repeat;
	}
}
.-hasBlank{
	a:after{
		content: " ";
		width: 10px;
		height: 12px;
		margin-left: 5px;
		display: inline-block;
		background: url(../img/common/icon-targetBlank.svg) center center no-repeat;
	}	
}



////////////////////

// button

////////////////////

%buttonStyle_cv{
		display: block;
		position: relative;
		border-radius: 3px;
		text-align: center;
		color: #fff;	
		transition: transition();
		background-size: 100% auto;
		background-image: linear-gradient( to right, lighten($orange, 10%), $orange);		
}

.button
{
	display: inline-block;
	
	a{
		padding: 1em;
		@extend %buttonStyle_cv;

		@include mouseOver(){
			background-size: 300% auto;
		}
	}

	&--inquiry{
		&.-hasArrow {
			@extend .-hasArrow;			
			a{
				&:after{
					margin-top: auto;
					margin-bottom: auto;
					position: absolute;
					top: 0;
					right: 5px;
					bottom: 0;
					display: block;
					background: url(../img/common/icon-arrow-white.svg) center center no-repeat;
				}
			}
		}
	}

	&--submit{
		display: block;
		position: relative;
		
		// &:after{
		// 	content: " ";
		// 	width: 16px;
		// 	height: 8px;
		// 	margin-left: 10px;			
		// 	margin-top: auto;
		// 	margin-bottom: auto;
		// 	position: absolute;
		// 	top: 0;
		// 	right: 5px;
		// 	bottom: 0;
		// 	display: block;
		// 	background: url(../img/common/icon-arrow-white.svg) center center no-repeat;
		// }		

		input{
			width: 100%;
			box-sizing: border-box;
			cursor: pointer;
			border: none;
			font-size: 1em;

			@extend%buttonStyle_cv;

			@include mouseOver(){
				background-size: 300% auto;
			}
		}
	}
	&--back{
		display: block;
		position: relative;
		
		// &:after{
		// 	content: " ";
		// 	width: 16px;
		// 	height: 8px;
		// 	margin-left: 10px;			
		// 	margin-top: auto;
		// 	margin-bottom: auto;
		// 	position: absolute;
		// 	top: 0;
		// 	right: 5px;
		// 	bottom: 0;
		// 	display: block;
		// 	background: url(../img/common/icon-arrow-white.svg) center center no-repeat;
		// }		

		input{
			width: 100%;
			box-sizing: border-box;
			cursor: pointer;
			border: none;
			font-size: 1em;

			@extend%buttonStyle_cv;
			background-image: $blue_gradation;

			@include mouseOver(){
				background-size: 300% auto;
			}
		}
	}	
}
