/************************

// top

************************/


$slick-font-path: "~slick-carousel/slick/fonts/";

// Slick Carousel ajax-loader.gif path
$slick-loader-path: "~slick-carousel/slick/";

@import '../../node_modules/slick-carousel/slick/slick-theme.scss';
@import '../../node_modules/slick-carousel/slick/slick.scss';

.home{
	
////////////////////////

// mainvisual

////////////////////////

.mainvisual{
	line-height: 1;
	overflow: hidden;
	position: relative;
	
	&__copy{
		position: absolute;
		z-index: 2;
		bottom: 130px;
		font-feature-settings: 'palt';
		
			@include break( tab ){
				bottom: 30px;
			}

		
		br{
			@include break( tab,min ){
				display: none;
			}
		}
		
		> span {
			display: block;
		}

		.copyTop{
			// font-family: $fontFamily_yugothic_b;
			letter-spacing: 0.15em;
			font-size: 2.12em;
			font-weight: 900;
			
			@include break( tab ){
				line-height: 1.4;
				font-size: 2em;
			}				
		}

		.copyBottom{
			margin-top: 40px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			
			@include break( tab ){
				margin-top: 10px;
				padding-top: 20px;
				border-top: solid 1px;
			}

			
			&:before{
				content: " ";
				width: 60%;
				height: 1px;
				background-color: $basefontColor;
				display: block;
				
				@include break( tab ){
					display: none;
				}				
			}
			&__text{
				letter-spacing: 0.15em;
				font-weight: bold;
				
				@include break( tab ){
					font-size: 1.225em;
				}					
			}
		}
	}
	
	&__num{
		line-height: 1;
		position: absolute;
		z-index: 1;
		bottom: -140px;
		left: -50px;
		color: #fff;
		opacity: 0.525;
		mix-blend-mode: overlay;
		font-size: 800px;
		font-family: $fontFamily_bodoniSans_r;
		
		@include break( tab ){
			font-size: 350px;
			bottom: -55px;
			left: auto;
			right: -25px;
		}
		
		span{
			opacity: 0;
			display: inline-block;
			transition: transition( all,1.5s);
			transform-origin: center center;
			
			&:first-child{
				transform: skewY(-10deg) translate( -30px, -30px) ;
			}
			&:last-child{
				transform: skewY(10deg) translate( 30px, 30px) ;				
			}

			&:last-child{
				margin-left: -0.25em;
				transition-delay: 0.4s;
			}
		}
	}
	@at-root .isLoaded .mainvisual{
		.mainvisual__num span{
			transition-delay: 0.5s;
				&:last-child{
					transition-delay: 0.9s;
				}			
		}
	}	
	@at-root .isLoaded .mainvisual{
		&.fadeIn .mainvisual__num span{
			opacity: 1;
			transform: rotate(0deg) translate(0,0);
		}
	}

	.slick-slide{		
		line-height: 0;
		transition: all 0.5s linear 0s;
		img{
			transition: all 0.5s linear 0s;
			opacity: 0;
		}
		background-image: linear-gradient( to bottom right, lighten( $blue_lighten, 10% ), #efffef, lighten( $blue_lighten, 7% ));
		background-size: 100%;
		&.slick-current{
			background-size: 1000%;
			img{
				opacity: 1;
			}
			
		}
	}
	
}



////////////////////////

// introduction

////////////////////////

.introduction{
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
	
	@include break( tab ){
		padding-top: 40px;
		padding-bottom: 40px;
	}		
	
	&__index{
		line-height: 1;
		margin-top: -125px;
		margin-bottom: 40px;
		position: relative;
		z-index: 2;
		
		@include break( tab ){
			margin-top: 0;
			margin-bottom: 10px;
			
			img{
				width: 80px;
			}
		}			
	}

	&__content{
		line-height: 2.5;
		@include break( tab ){
			line-height: 1.9;
		}			
	}
	
}



////////////////////////

// location

////////////////////////

.section-navPanel{
	margin-bottom: 100px;
	
	@include break( tab ){
		margin-bottom: 60px;
	}	
	
	&__location{
		width: 100%;
		height: 0;
		padding-top: percentage( 308 / 1366);
		box-shadow: inset 0 10px 10px rgba(#000,0.025), 0 10px 10px rgba(#000,0.025) ;
		background: #fafafa url(../img/top/location.jpg) 50% 100% no-repeat ;
		background-size: cover;

		display: block;
		
		@include break( tab ){
			padding-top: percentage( 256 / 640);
			background-size: 200% auto;
		}			
	}


	.navPanel{
		margin-top: -80px;
		padding-right: 50px;
		padding-left: 50px;
		
		@include break( 1000 ){
			padding-right: 0px;
			padding-left:  0px;			
		}		
				
		@include break( tab ){
			margin-top: -30px;
		}			
		
		ul{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-content: center;
			align-items: stretch;
			
			@include break( tab ){
				flex-direction: column;
				align-items: center;
			}				
			
			// @extend .-hasArrow;	
			
			// // a:after{
			// // 	margin-top: auto;
			// // 	margin-bottom: auto;
			// // 	position: absolute;
			// // 	top: 0;
			// // 	right: 5px;
			// // 	bottom: 0;
			// // 	display: block;
			// // 	background: url(../img/common/icon-arrow-white.svg) center center no-repeat;
			// // }	
		}
		&__panel{
			display: block;
			opacity: 0;
			transform: translateY( 10px );
			transition: transition(all,0.35s);
			border-radius: $radius;			
			background-color: $blue_dull;
			
		
			@include break( tab ){
				&:not( :last-child ){
					margin-bottom: 20px;				
				}
			}				
			
			@for $i from 1 through 3 {
				&:nth-child( #{$i} ){
					transition-delay: #{$i * 0.1}s;
				}
			}
		}
		&__panel a{
			max-width: 280px;
			height: 100%;
			padding: 30px;
			box-sizing: border-box;
			display: block;
			transition: transition();
			position: relative;
			border-radius: $radius;
			color: #fff;
			box-shadow: 0 0 10px rgba(#000,0.15);
			background: $blue_gradation ;
			background-size: 100%;		
			
			@include break( tab ){
				max-width: 230px;
				padding: 20px;
			}				


			
			@include mouseOver(){
				opacity: 0.7;
				background-position: 0 -100%;
				box-shadow: none;
			}
		}
		&__panel.-notActive a{
			background: desaturate($blue_lighten, 100%);
			
			&:after{
				display: none;
			}
		}
		&__panel,
		.panel-icon,
		.panel-index,
		.panel-content{
			opacity: 0;
			transition: easeInOut(all,0.6s);
			transform: translateY( 10px );			
		}

		&__panel.fadeIn{
			&,
			.panel-icon,
			.panel-index,
			.panel-content{
				opacity: 1;
				transform: translateY( 0px );			
			}			
		}

		.panel-icon{
			text-align: center;
			margin-bottom: 20px;
			transition-delay: 0.4s;	
			@include break( tab ){
				margin-bottom: 15px;
			}	
		}	
		.panel-index{
			margin-bottom: 15px;
			text-align: center;
			font-weight: bold;		
			transition-delay: 0.6s;	
			@include break( tab ){
				margin-bottom: 10px;
			}						
		}	
		.panel-content{
			font-size: $small;
			font-weight: lighter;			
			transition-delay: 0.8s;		
			@include break( tab ){
				font-size: 0.95em;
			}	
		}
	}
}




////////////////////////

// topics

////////////////////////

.section-topics{
	
	.topicsTable{
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
		
		
		@include break( tab ){
			flex-direction: column;
			justify-content: flex-start;
		}			
		

		&__index{
			width: 120px;
			margin-right: 35px;
			color: $blue_dull;
			
		
				@include break( tab ){
					margin-right: 0;
					margin-bottom: 30px;
				}				

			span{
				line-height: 1;
				display: block;
			}

			.en{
				font-family: $fontFamily_bodoniSans_b;
				font-size: 2em;
				letter-spacing: 0.015em;
			}
			.ja{
				margin-top: 20px;
				font-weight: bold;
		
				@include break( tab ){
					margin-top: 10px;
				}					
			}
		}


		&__content{
			width: 100%;

			li{
				display: block;
				
				&:first-child a{
					padding-top: 0;
				}
			}

			li a{
				width: 100%;
				padding-top: 25px;
				padding-right: 25px;
				padding-bottom: 25px;
				position: relative;
				box-sizing: border-box;
				display: table;
				color: $gray;
				border-bottom: solid 1px $border;
				
				@include mouseOver(){
					color: $navy;
				}
		
				@include break( tab ){
					padding-top: 15px;
					padding-bottom: 15px;
				}					
				
				.topics__date,
				.topics__index{
					display: table-cell;
				}
				
				&:after{
					content: " ";
					width: 16px;
					height: 8px;
					margin-top: auto;
					margin-bottom: auto;
					position: absolute;
					top: 0;
					right: 0px;
					bottom: 0;
					display: block;
					background: url(../img/common/icon-arrow-navy.svg) center center no-repeat;
				}

				.topics__date{
					width: 100px;
					padding-right: 20px;
					letter-spacing: 0.05em;
					font-family: $fontFamily_bodoniSans_b;
				}				
			}
		}

		.topics-more{
			margin-top: 40px;
			text-align: right;
			font-size: $xsmall;
			
		
			@include break( tab ){
				margin-top: 20px;
			}				
		}
		
	}
}

}