/************************

// about

// use MW WP Form

//入力：mw_wp_form mw_wp_form_input  
//確認：mw_wp_form mw_wp_form_confirm mw_wp_form_preview 
//完了：mw_wp_form mw_wp_form_complete

************************/

%must{
	content: " ";
	width: 12px;
	height: 12px;
	margin-right: 5px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 100%;
	background-color: #c00;
	@include break( tab ){
		width: 7px;
		height: 7px;
	}
}

%stepActive {
	font-weight: normal;
	color: $basefontColor;
	border-bottom-color: $blue;
	background-color: #fff;

	.en{
		color: inherit;
	}	
}


.contact{

	.visual{
		height: 300px;
		
		@include break( tab ){
			height: auto;
			margin-bottom: 30px;
			padding-top: 50px;
		}		
		
		&__textArea{
			position: static;
		}

		.visual__index{
			position: relative;

			.en{
				font-size: 9.5em;
				white-space: nowrap;
				letter-spacing: 0.08em;
								
				@include break( tab ){
					margin-top: 0em;
					font-size: 18vw;			
				}		
			}
			.ja{
				@include break( tab ){
				}		
			}
		}		
				
	}



	//////////フォーム
	.formArea
	{
		&__heading{
			margin-bottom: 30px;
		}
		&__index{
			@extend %indexStyle_a;
		}	
		&__description{
			font-size: $small;
		}


		/////step
		&__steps{
			width: 100%;
			display: table;
			table-layout: fixed;
			font-size: $small;
			
			li{
				line-height: 1;
				padding: 30px 20px;
				display: table-cell;
				vertical-align: middle;
				position: relative;
				border-right: solid 2px #fff;
				border-bottom: solid 2px $gray ;
				color: $border;
				text-align: center;
				background-color: #f9f9f9;
				
				@include break( tab ){
					padding: 20px 10px;
				}
				
				&:last-child{
					border-right: none;
				}
				
				&.active{
					@extend %stepActive;
				}

				.en{
					display: inline-block;
					font-family: $fontFamily_bodoniSans_b;
					color: inherit;
					letter-spacing: 0.025em;
					&:before{
						content: "";
						width: 20px;
						height: 1px;
						margin-right: 3px;
						margin-left: 3px;
						display: inline-block;
						background-color: $border;
					}
					@include break( tab ){
						display: block;
						
						&:before{
							width: 100%;
							margin-top: 7px;
							margin-bottom: 6px;
						}
					}					
				}
			}
		}

		///////// 入力ステップ
		.mw_wp_form_input .formArea__steps{
			li.step1{
				@extend %stepActive;
			}
		}
		///////// 確認ステップ
		.mw_wp_form_confirm .formArea__steps{
			li.step2{
				@extend %stepActive;
			}
		}
		///////// 送信完了ステップ
		.mw_wp_form_complete .formArea__steps{
			li.step3{
				@extend %stepActive;
			}
		}


		&__icon{
			margin-top: 30px;
			margin-bottom: 30px;
			color: $gray;
			text-align: right;
			font-size: $small;
			
				@include break( tab ){
					margin-top: 20px;
					margin-bottom: 2px;
				}			

			li{
				line-height: 1;
				display: inline-block;
				&:before{
					@extend %must;
				}
			}
		}
		///////// 送信完了ステップ
		.mw_wp_form_complete .formArea__icon{
			display: none;
		}		
	}


	//////// フォーム
	.form{
		margin-bottom: 60px;
		
		@include break( tab ){
			margin-bottom: 40px;
		}		
	
		input[type="text"],
		input[type="email"],
		input[type="tel"],
		textarea{
			width: 100%;
			min-height: 1em;
			padding: 1em;
			box-sizing: border-box;
			border: solid 1px $border;
			border-radius: 3px;
			font-size: $small;
			
			@include break( tab ){
				font-size: 16px;
				transform: scale( 0.875 );
			}				

		}
		
		table{
			width: 100%;
			border-collapse: collapse;
			tr{
				border-bottom: solid 1px $border*1.145;
			}
			th,
			td{
				padding: 40px 10px;
				@include break( tab ){
					padding: 20px 10px;
				}					
			}

			th{
				width: 10em;
				vertical-align: top;
				text-align: left;
				font-weight: normal;
				position: relative;
				
				@include break( tab ){
					width: 6em;
				}					
			}
		}


		.-must {
			th{
				&:after{
					@extend %must;
					// position: absolute;
					// left: 0;
					// top: -7px;
				}	
			}
		}

		&__buttons{
			margin-top: 50px;
			display: flex;
			justify-content: space-between;
			
			@include break( sp ){
				margin-top: 30px;
				flex-direction: column;
			}			
			
			 > .button{
			 	width: 100%;
			 	margin: 20px 2.5%;
				@include break( sp ){
					margin: 20px 0;
				}				 	
			 }
		}

		.button{
			margin-top: 20px;
			@include break( sp ){
				margin-top: 0;
			}			
			input{
				padding-top: 2em;
				padding-bottom: 2em;
				@include break( sp ){
					padding-top: 1em;
					padding-bottom: 1em;
				}					
			}
		}

		:placeholder-shown {
		    color: #cccccc; }

		/// Google Chrome, Safari, Opera 15+, Android, iOS 
		::-webkit-input-placeholder {
		    color: #cccccc; }

		/// Firefox 19+ 
		::-moz-placeholder {
		    color: #cccccc; opacity: 1; }

		/// IE 10+ 
		:-ms-input-placeholder {
		    color: #cccccc; }		
	}

	///////// お電話の注意
	.contactTel{
		&__index{
			@extend %indexStyle_b;
		}
	}

	///// 入力ステップ
	.mw_wp_form_input{
		.button--back{
			display: none;
		}
	}		

	///// 送信完了ステップ
	.mw_wp_form_complete{
		padding: 50px;
		margin-bottom: 60px;		
		text-align: center;
		border: solid 1px $blue_lighten;
		
		@include break( tab ){
			padding: 30px;			
			margin-bottom: 40px;
		}	
	}		
}